<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="SDoctor_sDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\andri\source\repos\SystemToManageTheScheduleOfDoctor_sAppointments\SystemToManageTheScheduleOfDoctor_sAppointments\SDoctor_sDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>